:root {
    --main-text-color: #222222;
    --additional-text-color: #858585;
    --unactive-text-color: #ADADAD;
    --main-text-dark-background: #FFFFFF;
    --link-background: #CDEDFF;
    --link-focus: #1F87EF;
    --link-icons: #1874CF;
    --fon-1: #F2F2F2;
    --fon-2: #EBEBEB;
    --split-line: #E5E5E5;
}


* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
}

.main {
    margin: auto 0;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.title-text {
    color: var(--main-text-color);
    font-size: 32px;
    line-height: 40px;
    text-decoration: none;
    font-family: 'Lab Grotesque', serif;
    font-weight: 700;
}

.regular-text {
    color: var(--main-text-color);
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    font-family: 'Lab Grotesque', serif;
    font-weight: 400;
}

.header-container {
    border-bottom: 1px solid var(--split-line);
    display: flex;
    align-items: center;
    padding: 16px 8px;
}

.footer-container {
    padding: 16px 8px;
}

.nav {
    display: flex;
    gap: 32px;
}

.droplink {
    background-color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.active-link {
    border-radius: 8px;
    background-color: var(--link-background);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--fon-1);
    margin-top: 4px;
    width: 192px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s linear;
}

.dropdown-content a {
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s linear;
}


.search {
    padding: 8px;
    border: none;
    outline: none;
    margin-left: auto;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 24%);
}

.footer-container {
    display: flex;
    cursor: pointer;
    border-top: 1px solid var(--split-line);
    margin-right: auto;
}

.footer-content {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    gap: 4px;
    padding: 8px;
    transition: 0.3s linear;
}

.enemy-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding-left: 0;
}

.enemy-item {
    list-style-type: none;
    margin: 40px auto;
    width: 400px;
    height: 400px;
    background-color: var(--fon-1);
    border: 1px solid var(--fon-2);
    border-radius: 8px;
    padding: 40px;
}

.difficulty {
    margin-top: 60%;
}

.unactive-link {
    transition: 0.3s linear;
}

@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 400;
    src: url(https://s.kontur.ru/common-v2/fonts/LabGrotesque/LabGrotesque-Regular.woff2) format('woff2'),
         url(https://s.kontur.ru/common-v2/fonts/LabGrotesque/LabGrotesque-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Lab Grotesque';
    font-style: normal;
    font-weight: 700;
    src: url(https://s.kontur.ru/common-v2/fonts/LabGrotesque/LabGrotesque-Bold.woff2) format('woff2'),
         url(https://s.kontur.ru/common-v2/fonts/LabGrotesque/LabGrotesque-Bold.woff) format('woff');
}

@media (any-hover: hover) {
    .dropdown-content a:hover {
        border-radius: 8px;
        background-color: var(--link-focus);
        color: var(--main-text-dark-background);
        transition: 0.1s linear;
    }

    .nav-dropdown:hover .active-link + .dropdown-content {
        display: block;
        border-radius: 8px;
        transition: 0.1s linear;
    }

    .nav-dropdown:hover .unactive-link {
        background-color: var(--link-focus);
        color: var(--main-text-dark-background);
        border-radius: 8px;
        transition: 0.1s linear;
    }

    .footer-content:hover {
        background-color: var(--fon-1);
        border-radius: 8px;
        transition: 0.1s linear;
    }

    .search:hover {
        box-shadow: 0 1px 0 0 rgb(0 0 0 / 40%);
    }
}
